<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Alethena Quitt Share Dispenser Transaction Notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- style %>
</head>

<body>
    <div class="lang-note">
        <p> (Deutsche Version untenstehend) <br></p>
        <p> (Version française ci-dessous) <br></p>
        <br>
    </div>

    <p>
        Hi, <br> <br>
        thank you for purchasing shares through Quitt’s Share Dispenser. You find your payment information in the
        attached PDF file.
        <br> <br>

        Best regards, <br> <br>
        Your Quitt Team
    </p>
    <hr>

    <p>
        Guten Tag, <br> <br>
        vielen Dank, dass Sie Aktien über Quitt's Aktienautomaten gekauft haben. Ihre Zahlungsinformationen finden Sie
        in der beigefügten PDF-Datei. <br><br>
        Beste Grüsse, <br> <br>
        Ihr Quitt Team
    </p>

    <hr>

    <p>
        Bonjour, <br> <br>
        merci d'avoir acheté des actions par le dispensateur d'actions de Quitt. Vous trouvez vos informations de
        paiement dans le fichier PDF ci-joint. <br><br>
        Meilleures salutations, <br> <br>
        Votre Quitt Team
    </p>

</body>

</html>