<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Alethena Quitt Share Dispenser Transaction Notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- style %>
</head>

<body>

    <p>
        Hi, <br> <br>
        there is a new transaction on the Quitt Share Dispenser. <br><br>
        This is an automatic email. See the attached CSV file for details.
        <br> <br>
        Best regards, <br> <br>
        Your Alethena Team
    </p>

</body>

</html>