<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Alethena Quitt Share Dispenser Transaction Notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/templates/mailTemplates/overallCSS/basic.css">
</head>

<body>
    <div class="lang-note">
        <p> (Deutsche Version untenstehend) <br></p>
        <p> (Version française ci-dessous) <br></p>
        <br>
    </div>

    <p>
        Hi, <br> <br>
        there is a new transaction on the Quitt Share Dispenser. <br><br>
        This is an automatic email. See the attached CSV file for details.
        <br> <br>
        Best regards, <br> <br>
        Your Quitt Team
    </p>
    <hr>

    <p>
        Guten Tag, <br> <br>
        es gibt eine neue Transaktion auf dem Quitt Aktienautomaten. <br> <br>
        Dies ist eine automatische E-Mail. Weitere Informationen finden Sie in der angehängten CSV-Datei. <br> <br>
        Beste Grüsse, <br> <br>
        Ihr Quitt Team
    </p>

    <hr>

    <p>
        Bonjour, <br> <br>
        il y a une nouvelle transaction sur le dispensateur d'actions de Quitt. <br><br>
        Cet email est automatique. Vous trouvez de plus informations dans le fichier CSV ci-joint. <br> <br>
        Meilleures salutations, <br> <br>
        Votre Quitt Team
    </p>

</body>

</html>