<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Alethena Quitt Share Dispenser Transaction Notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/templates/mailTemplates/overallCSS/basic.css">
    <%- style %>
</head>

<body>
    <div class="lang-note">
        <p> (Deutsche Version untenstehend) <br></p>
        <p> (Version française ci-dessous) <br></p>
        <br>
    </div>

    <p>
        Hi, <br> <br>
        your confirmation code is <b><%= code %></b>.
        <br> <br>
        Best regards, <br> <br>
        Your Quitt Team
    </p>
    <hr>

    <p>
        Guten Tag, <br> <br>
        Ihr Bestätigungscode ist <b><%= code %></b>.
        Beste Grüsse, <br> <br>
        Ihr Quitt Team
    </p>

    <hr>

    <p>
        Bonjour, <br> <br>
        votre code de confirmation est <b><%= code %></b>.
        Meilleures salutations, <br> <br>
        Votre Quitt Team
    </p>

</body>

</html>