<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Alethena Quitt Share Dispenser Transaction Notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- style %>
</head>

<body>
    <div class="lang-note">
        <p> (Deutsche Version untenstehend) <br></p>
        <p> (Version française ci-dessous) <br></p>
        <br>
    </div>

    <p>
        Hi, <br> <br>
        unfortunately, your transaction could not be validated by the Ethereum blockchain. You have not been charged
        any fees for this transaction. Please try again!
        <br> <br>
        Best regards, <br> <br>
        Your Quitt Team
    </p>
    <hr>

    <p>
        Guten Tag, <br> <br>
        leider konnte Ihre Transaktion von der Ethereum Blockchain nicht validiert werden. Für diese Transaktion sind
        keine Gebühren erhoben worden. Bitte versuchen Sie es erneut!
        Beste Grüsse, <br> <br>
        Ihr Quitt Team
    </p>

    <hr>

    <p>
        Bonjour, <br> <br>
        votre transaction n'a malheureusement pas pu être validée par la blockchain Ethereum. Aucuns frais n'ont été
        facturés pour cette transaction. Veuillez réessayer svp!
        Meilleures salutations, <br> <br>
        Votre Quitt Team
    </p>

</body>

</html>