<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Alethena Transaction Signup</title>
    <!-- <base href="http://127.0.0.1:8080"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/templates/mailTemplates/overallCSS/basic.css">
    <!-- <style>  -->
    <%- style %>
    <!-- </style> -->
</head>

<body>
    <div class="lang-note">
        <p> (Deutsche Version untenstehend) <br></p>
        <p> (Version française ci-dessous) <br></p>
        <br>
    </div>

    <p>
        Hi, <br> <br>
        please click on the link below to be notified whenever shares are being traded through the Quitt Share
        Dispenser.
        Please register <a href="<%= link %>" target="_blank" rel="noopener noreferrer">here</a>.
        <br> <br>
        Best regards, <br> <br>
        Your Quitt Team
    </p>
    <hr>

    <p>
        Guten Tag, <br> <br>
        bitte klicken Sie auf den untenstehenden Link, um benachrichtigt zu werden, wenn Aktien über den Aktienautomaten
        von Quitt gehandelt werden. <br><br>
        Registrieren Sie sich
        <a href="<%= link %>" target="_blank" rel="noopener noreferrer">hier</a>. <br> <br>
        Beste Grüsse, <br> <br>
        Ihr Quitt Team
    </p>

    <hr>

    <p>
        Bonjour, <br> <br>
        veuillez cliquer sur le lien ci-dessous pour être avisé lorsque des actions sont négociées par le dispensateur
        d'actions de Quitt. <br><br>
        Veuillez vous inscrire
        <a href="<%= link %>" target="_blank" rel="noopener noreferrer">ici</a>. <br> <br>
        Meilleures salutations,, <br> <br>
        Votre Quitt Team
    </p>

</body>

</html>